<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Sản phẩm</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-5">

			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4">Xem sản phẩm</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Số thứ tự</th>
								<th scope="col">Hình ảnh</th>
								<th scope="col">Tên sản phẩm</th>
								<th scope="col">Danh mục</th>
								<th scope="col">Giá tiền</th>
								<th scope="col">Giảm giá</th>
								<th scope="col">Giá tiền giảm giá</th>
								<th scope="col">Trạng thái</th>
								<th scope="col">Hàng có sẵn</th>
								<th scope="col">Chỉnh sửa</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p,c:${products}">
								<th scope="row">[[${c.count}]]</th>
								<td><img th:src="@{'/img/product_img/'+${p.image}}"
									width="70px" height="70px"></td>
								<td>[[${p.title}]]</td>
								<td>[[${p.category}]]</td>
								<td>[[${p.price}]]</td>
								<td>[[${p.discount}]]</td>
								<td>[[${p.discountPrice}]]</td>
								<td>[[${p.isActive}]]</td>
								<td>[[${p.stock}]]</td>
								<td><a th:href="@{'/admin/editProduct/'+${p.id}}"
									class="btn btn-sm btn-primary"><i
										class="fa-solid fa-pen-to-square"></i>Chỉnh sửa</a> <a
									th:href="@{'/admin/deleteProduct/'+${p.id}}"
									class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i>
										Xóa</a></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

	</section>
</body>
</html>