<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Đơn hàng của tôi</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-5">
			<div class="row">
				<p class="text-center fs-3">Đơn hàng của tôi</p>
				<th:block th:if="${session.succMsg}">
					<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
					<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>
				<div class="col-md-12 ">

					<table class="table table-bordered card-sh">
						<thead >
							<tr >
								<th scope="col">Mã đơn hàng</th>
								<th scope="col">Ngày</th>
								<th scope="col">Thông tin chi tiết sản phẩm</th>
								<th scope="col">Giá tiền</th>
								<th scope="col">Trạng thái</th>
								<th scope="col">Hành động</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="o:${orders}">
								<th scope="row">[[${o.orderId}]]</th>
								<td>[[${o.orderDate}]]</td>
								<td>[[${o.product.title}]]</td>
								<td>Số lượng: [[${o.quantity}]] <br>Giá tiền:
									[[${o.price}]] VNĐ<br>Tổng giá tiền: [[${o.quantity *
									o.price}]] VNĐ
								</td>
								<td>[[${o.status}]]</td>
								<td><th:block th:if="${o.status!='Đã hủy'}">
										<a th:href="@{'/user/update-status?id='+${o.id}+'&st=6' }"
											class="btn btn-sm btn-danger">Hủy</a>
									</th:block> <th:block th:unless="${o.status!='Đã hủy'}">
										<a href="#" class="btn btn-sm btn-danger disabled" >Hủy</a>
									</th:block></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</section>
</body>
</html>