<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Đơn hàng</title>
</head>
<body>
	<section>

		<div class="container mt-5 p-5">
			<form action="/user/save-order" method="post">
				<div class="row">

					<div class="col-md-6">


						<div class="mb-3 row">
							<p class="text-center fs-4">Địa chỉ thanh toán</p>
							<hr>
							<div class="col p-1">
								<label>Tên</label> <input type="text" name="firstName" required
									class="form-control mt-1">
							</div>
							<div class="col p-1">
								<label>Họ</label> <input type="text" name="lastName" required
									class="form-control mt-1">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col p-1">
								<label>Email</label> <input type="email" name="email" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>Số điện thoại</label> <input type="text" name="mobileNo" required
									class="form-control col ms-2">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col p-1">
								<label>Địa chỉ</label> <input type="text" name="address" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>Thành phố</label> <input type="text" name="city" required
									class="form-control col ms-2">
							</div>
						</div>
						<div class="mb-3 row">
							<div class="col p-1">
								<label>Quận/Huyện</label> <input type="text" name="state" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>Mã bưu chính</label> <input type="number" name="pincode" required
									class="form-control col ms-2">
							</div>
						</div>
						<!-- </form> -->

					</div>
					<div class="col-md-6">
						<p class="text-center fs-4">Phương thức thanh toán</p>
						<hr>
						<div class="card">
							<div class="card-body">
								<table class="table table-borderless">
									<tbody>
										<tr>
											<td>Tổng giá tiền</td>
											<td>:</td>
											<td>[[${orderPrice}]] VNĐ</td>
										</tr>
										<tr>
											<td>Phí giao hàng</td>
											<td>:</td>
											<td>0 VNĐ</td>
										</tr>

										<tr>
											<td>Thuế</td>
											<td>:</td>
											<td>0 VNĐ</td>
										</tr>

										<tr class="border-top">
											<td>Tổng giá tiền đơn hàng</td>
											<td>:</td>
											<td>[[${totalOrderPrice}]] VNĐ</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="card shadow p-3 mb-5 mt-2 bg-body-tertiary rounded">

							<div class="card-body">
								<!-- <form action="/login" method="post"> -->
								<div class="mb-3">
									<label class="form-label">Chọn phương thức thanh toán</label> <select required
										name="paymentType" class="form-control">
										<option>--lựa chọn--</option>
										<option value="COD">Thanh toán khi nhận hàng</option>
										<option value="ONLINE">Thanh toán trực tuyến</option>
									</select>

								</div>

								<button class="btn bg-primary text-white col-md-12">Đặt hàng</button>

							</div>
						</div>
					</div>

				</div>
			</form>
		</div>

	</section>
</body>
</html>