<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Đặt hàng thành công</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-5">
			<div class="row">
				<div class="col-md-6 offset-md-3 text-center">
					<i class="fa-solid fa-circle-check fa-5x text-success"></i>
					<p class="fs-3">Sản phẩm được đặt hàng thành công</p>
					<p class="fs-4">Sản phẩm sẽ được giao trong 7 ngày</p>
					<div class="text-center">
						<a href="/" class="btn btn-primary">Trang chủ</a> <a href="/user/user-orders"
							class="btn btn-primary">Đơn hàng của bạn</a>
					</div>
				</div>
			</div>

		</div>
	</section>
</body>
</html>